 body {
    font-family: 'Karla', sans-serif;
  }

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 2px solid #ccc;
    margin: 16px 0;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
      margin-right: 1em;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #cari-buku {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 250px;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  .row-container-buku {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin-right: 1em;
  }

  .label {
    color: white;
    padding: 8px;
    background-color: #04AA6D;
    display: block;
    border: none;
    text-align: center;
  }

  .label.sudah-dibaca {
    background-color: #04AA6D;
    margin-bottom: 1em;
  }

  .label.belum-dibaca {
    background-color: red;
    margin-bottom: 1em;
  }

  #list-detail {
    float: right;
    right: 0;
    top: 0;
    padding: 5px;
  }

  .ul-dibaca {
    margin: 0;
    float: right;
    padding: 0;
    overflow: auto;
    margin-right: 1em;
    height: 200px;
  }

  .col-dibaca {
    overflow: hidden;
    height: 250px;
  }

  button.material-icons-outlined {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
  }